#customForms {
   @mixin sr-only() { // only for screen reader
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(0,0,0,0);
      padding: 0;
      margin: -1px;
      border: 0;
   }

   background: #edeff1;

   form {
      margin: 30px;
   }

   .no-label {
      margin-top: 0.3em;
      position: relative;
      &:before {
         font-family: 'FontAwesome';
         position: absolute;
         left: 10px;
         top: 50%;
         font-size: 20px;
         color: #d3d3d3;
         width: 20px;
         z-index: 2;
         text-align: center;
         line-height: 1;
         margin-top: -12px;

      }
   }

   input, select, textarea{
      box-sizing: border-box;
      border-radius: 4px;
      font-size: 18px;
      outline: 0;
      color: #355368;
      border: 1px solid #a9a9a9;
      width: 255px;
   }
   input, select, textarea {
      padding: 11px 10px 12px 40px;
   }
   input[type=submit] {
      background: #42943f;
      border-color: #367b34;
      color: #fff;
      padding: 11px 0 12px 0;
      &:hover {
         border-color: #42943f;
         background: #367b34;
      }
   }

   label {
      @include sr-only();
   }
}

#customForms__full_div:before { content: $fa-var-user; }
#customForms__email_div:before { content: $fa-var-envelope; }
#customForms__passwd_div:before { content: $fa-var-lock; }

