// From "Create Beautiful CSS3 Typography

#beautifulCSS3 {
   width: 560px;
   h1{
     font-size: 2.5em;
     font-family: Georgia;
     letter-spacing: 0.1em;
     color: rgb(142,11,0);
     text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
     span {
       display: block;
       margin-top: 0.5em;
       font-family: Verdana;
       font-size: 0.6em;
       font-weight: normal;
       letter-spacing: 0em;
       text-shadow: none;
     }
   }

   .meta{
     font-family: Georgia;
     color: rgba(69,54,37,0.6);
     font-size: 0.85em;
     font-style: italic;
     letter-spacing: 0.25em;
     border-bottom: 1px solid rgba(69,54,37,0.2);
     padding-bottom: 0.5em;
     span {
       text-transform: capitalize;
       font-style: normal;
       color: rgba(69,54,37,0.8);
     }
   }

   .body p {
     font-family: Verdana;
     -moz-column-count: 2;
     -webkit-column-count: 2;
     column-count: 2;
     -moz-column-gap: 1em;
     -webkit-column-gap: 1em;
     column-gap: 1em;
     line-height: 1.5em;
     color: rgb(69,54,37);

     &:first-child {
        font-size: 1.25em;
        font-family: Georgia;
        font-style: italic;
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        letter-spacing: 0.1em;
        &:first-line {
           font-weight: bold;
        }
     }
   }

   .date{
     font-family: Georgia;
     color: rgba(69,54,37,0.6);
     font-size: 0.75em;
     font-style: italic;
     letter-spacing: 0.25em;
     border-top: 1px solid rgba(69,54,37,0.2);
     display: block;
     padding-top: 0.5em;
     margin-top: 2em;
   }
}
