#blendmodes {
   $border-top: 30px;

   .container {
     display: block;
     background-size: 100%;
     height: 400px;
     width: 700px;
     padding: 20px;
     background: url('alps.png') no-repeat 0 0;
     border-top: ($border-top - 1) solid transparent;
     background-size: 100%;
     background-size: cover;
     position: relative;
   }
   
   .menu {
     border: 3px solid #333;
     background-color: white;
     background-color: rgba(255,255,255,.8);
     display: inline-block;
     padding: 15px 15px 6px 15px;
     width: 200px;
     position: relative;
     height: 221px;
   
    
     span, ul {
       float: left;
     }
     
     span {
       clear: left;
       margin-right: 0;
       margin-bottom: 0;
       text-transform: uppercase;
       font-size: 16px;
       width: 100%;
       display: block;
       border-bottom: 2px solid black;
       margin-bottom: 10px;
     }
   }
   
   .menu__item {
     overflow: scroll;
     height: 165px;
     display: block;
     clear: both;
   }
   
   #blendmodescolor {
     position: absolute;
     top: -$border-top;
     left: 20px;
     
     li {
       float: left;  
       margin-right: 0;
       text-transform: uppercase;
       padding: 6px 15px;
       border: none;
       
       &:hover,
       &:focus {
         padding: 6px 15px;
         border: none;
       }
       
       &.is--active {
         border: none;
         padding: 6px 15px;
         background-color: black;
         color: white;
       }
     }
   }
   
   select {
   font-size: 18px;
   }
   
   ul {
     margin: 0;
     margin-bottom: 15px;
     padding: 0;
     list-style: none;
     
     li {
       pointer: cursor;
       font-size: 13px;
       padding: 5px 6px;
       border: 1px solid transparent;
       display: block;
       
       &:hover,
       &:focus {
         cursor: pointer;
         background-color: white;
       }
     }
   }
   
   .is--active {
     border: 1px dashed #aaa;
     background-color: white;
   }
   
   #c-red {
     background-color: #FF4136;
   }
   
   #c-yellow {
     background-color: #FFDC00;
   }
   
   #c-green {
     background-color: #09CD56;
   }

}
