#floatLabels {
  .floatlabel {
     $font-size: 14px;

     position: relative;
     font-size: $font-size;
     margin-top: 0;
     margin-bottom: 0.4em;
     vertical-align: middle;
     width: 200px;

     input {
        padding: 10px 10px 10px 10px;
        outline: 0;
        width: 255px;
        background: transparent;
        width: 100%;
        box-sizing: border-box;
     }
     label {
        color: #888;
        width: 100%;
        position: absolute;
        top: 50%;
        margin-top: -$font-size / 2;
        left: 0;
        transition: 0.2s;
        box-sizing: border-box;
     }

     input:valid + label,
     input:focus + label {
        font-size: 0.8em;
        color: #468CD1;
        top: 0;
        margin-top: 0;
     }

     &--top {
        input:valid + label,
        input:focus + label {
           margin-top:0;
           background: #468CD1;
           color: #CAEEF8;
        }
     }
     &--bottom {
        input:valid + label,
        input:focus + label {
           top: calc(100% - #{$font-size});
           margin-top:0;
           background: #468CD1;
           color: #CAEEF8;
        }
     }
  }
}
