#knockout {
   @mixin gradient-text($text, $background, $shadow, $gradient) {
      background: white;
      color: black;
      position: relative;
  
      // Hide aliased edges caused by mixing blend modes. Will appear as a
      // faint dark outline on certain backgrounds. Tweak to improve rendering
      text-shadow: 
        1px 1px 0px $shadow,
        1px -1px 0px $shadow,
        -1px -1px 0px $shadow,
        -1px 1px 0px $shadow;
  
      &::before,
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        
        // Make cursor ignore these, allowing text underneath to be clicked and selected
        pointer-events: none;
      }
      
      &::before {
        // Gradient
        background: $gradient;
        content: '';
        display: block;
        mix-blend-mode: screen;
      }
  
      // Everything below can be removed when using a #fff background. Ditto
      // when using a black background, provided the mix-blend-modes, text,
      // background color are reversed. (Screen to multiply, white to black)
  
      &::after {
        // Duplicate gradient text. Yes, it's ugly. Change the value below
        // without changing the HTML for fun times.
        content: $text;
        background: $background;
        color: white;
        mix-blend-mode: multiply;
      }
    }

  .gradient {
     margin: 0;
     margin-bottom: 30px;
     font-size: 96px;
     opacity: 0.9;
     @include gradient-text('The Title', #04161f, #04161f, linear-gradient(to right, #23966c, #faaa54, #e23b4a, #db0768, #360670));
   }
  .gradient2 {
     font-size: 166px;
     margin: 0;
     margin-bottom: 30px;
     opacity: 0.9;
     @include gradient-text('The Alps', black, #fff, url('alps.png'));
   }

   .gradient3 {
     font-size: 166px;
     margin: 0;
     margin-bottom: 30px;

     // if we can clip, do it
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;

     // what will show through the text (or the background of the element)
     background-image: url('alps.png');

     // fallback text color
     color: red;
   }
}
