$fa-font-path: '.';
@import "../node_modules/font-awesome/scss/font-awesome";

$left-side-width: 160px;
$body-margin: 8px;

body {
   margin: $body-margin;
}

.main {
   display: none !important;
   position: absolute;
   left: $left-side-width + $body-margin; // no extra space to preserve :hover
   top: 0;
   padding-top: 30px;
   padding-left: 20px;
   right: 0;
   bottom: 0;
   &.debug {
      display: block !important;
   }
}

body > h1 {
   font-size: 14px;
   margin: 0;
}

.demo {
   & > h1 {
      $padding-left: 15px;
      width: $left-side-width - $padding-left;
      font-size: 12px;
      font-weight: normal;
      margin: 0;
      padding: 0.3em 0 0.3em $padding-left;
      a {
         text-decoration: none;
      }
   }
   &:hover {
      & > h1 {
         background: #eee;
      }
      .main {
         display: block !important;
      }
   }
}

@import "customforms";
