#quantitativeQueries {
   span {
      display: inline-block;
      background: green;
      width: 30px;
      height: 30px;
   }

   .line {
      margin-bottom: 10px;
   }

   // Apply specific style if there are 4 or more children
   .if-more-than-3 {
      span:nth-last-child(n+4),
      span:nth-last-child(n+4) ~ span {
         background: red;
      }
    }
}
